[USER_PARAMS]
backgroundFilePath =./Data_Augmentation/Data/background
sampleFilesPath    =./data/original_template
bgColor            =255
bgThresh           =8
maxXangle          =10
maxYangle          =10
maxZangle          =180
maxAngle_Affine    =75
outputPerSample    =1000
GausNoiseProb      =0.2
MedianNoiseProb	   =0.2
AffineRotateProb   =0.5
SharpenProb	       =0.3
PerspTransProb     =0.3
ScalingProb        =0.3
BrightnessProb     =0.5
OutputPath         =./data/train/TrainingData
